<!-- Start Footer 
    ============================================= -->
<footer class="default-padding bg-cover" style="background-image: url(assets/img/shape/1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="footer-items text-center">
                    <a href="index.html" class="footer-logot">
                        <img src="assets/img/logo/Logo for Light Theme.png" alt="AzAd Logo" class="logo-light"
                            style="height: 50px; margin: 0 auto 20px;">
                        <img src="assets/img/logo/Logo for Dark Theme.png" alt="AzAd Logo" class="logo-dark"
                            style="height: 50px; margin: 0 auto 20px;">
                    </a>
                    <ul class="foter-menu">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="projects.html">Projects</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="donation.html">Donate</a></li>
                    </ul>
                    <p>Copyright &copy; 2026 AzAd Solutions. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Scroll Top -->
<div class="scroll-to-top">
    <span class="scroll-icon">
        <i class="fa fa-arrow-up"></i>
    </span>
</div>
<!-- End Scroll Top -->